<!--  наследуемся от шаблона default.html, который мы создавали для flatpages -->
{% extends 'docs_free/flatpages/default.html' %}
 
{% block title %}
   <br><b>Всего публикаций на странице {{ userlog_list|length }} </b><br><br>

{% endblock title %}

{% block content %}
   <style> div { line-height: 1; } </style>   
   {% for x in userlog_list %}
     <div align="left">             
     <b> {{ x.time_in|date:'Y-m-d  H:m:s' }} | </b> This plate is {{ x.resp }}<br>        
     <a href='{{x.pk}}'> Посмотреть>></a>
     </div><br>
   {% endfor %}
   
   {# Добавляем пагинацию на страницу #}   
   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
       <a href="?page=1">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
           <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}
   {# Информация о текущей странице #}
   {{ page_obj.number }}      
   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
       <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
 
{% endblock content %}
